<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuan_bmh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,73}</string>
                <key>spriteSourceSize</key>
                <string>{399,73}</string>
                <key>textureRect</key>
                <string>{{0,0},{399,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuan_gz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,114}</string>
                <key>spriteSourceSize</key>
                <string>{406,114}</string>
                <key>textureRect</key>
                <string>{{399,73},{406,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuan_pao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,411}</string>
                <key>spriteSourceSize</key>
                <string>{526,411}</string>
                <key>textureRect</key>
                <string>{{0,342},{526,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuan_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,73}</string>
                <key>spriteSourceSize</key>
                <string>{382,73}</string>
                <key>textureRect</key>
                <string>{{399,0},{382,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{867,692}</string>
                <key>spriteSourceSize</key>
                <string>{867,692}</string>
                <key>textureRect</key>
                <string>{{0,1164},{867,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lele_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,114}</string>
                <key>spriteSourceSize</key>
                <string>{413,114}</string>
                <key>textureRect</key>
                <string>{{0,187},{413,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lele_milk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,114}</string>
                <key>spriteSourceSize</key>
                <string>{399,114}</string>
                <key>textureRect</key>
                <string>{{0,73},{399,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lele_pao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,411}</string>
                <key>spriteSourceSize</key>
                <string>{526,411}</string>
                <key>textureRect</key>
                <string>{{0,753},{526,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lele_xc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,155}</string>
                <key>spriteSourceSize</key>
                <string>{416,155}</string>
                <key>textureRect</key>
                <string>{{413,187},{416,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newScene.png</string>
            <key>size</key>
            <string>{867,1856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ea842eccf6f097cbf97c0efd49c5ab8:8f0049f23bbc47846273211332552eaf:6e117bc06bbff75c3f8b6f87de1f6067$</string>
            <key>textureFileName</key>
            <string>newScene.png</string>
        </dict>
    </dict>
</plist>
