<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,357}</string>
                <key>spriteSourceSize</key>
                <string>{373,357}</string>
                <key>textureRect</key>
                <string>{{667,686},{373,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,58}</string>
                <key>spriteSourceSize</key>
                <string>{176,58}</string>
                <key>textureRect</key>
                <string>{{683,0},{176,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,58}</string>
                <key>spriteSourceSize</key>
                <string>{176,58}</string>
                <key>textureRect</key>
                <string>{{859,0},{176,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,221}</string>
                <key>spriteSourceSize</key>
                <string>{221,221}</string>
                <key>textureRect</key>
                <string>{{734,408},{221,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,197}</string>
                <key>spriteSourceSize</key>
                <string>{145,197}</string>
                <key>textureRect</key>
                <string>{{421,408},{145,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hamGroup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,196}</string>
                <key>spriteSourceSize</key>
                <string>{477,196}</string>
                <key>textureRect</key>
                <string>{{1549,212},{477,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,169}</string>
                <key>spriteSourceSize</key>
                <string>{103,169}</string>
                <key>textureRect</key>
                <string>{{1446,212},{103,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juiceTree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,566}</string>
                <key>spriteSourceSize</key>
                <string>{477,566}</string>
                <key>textureRect</key>
                <string>{{1413,686},{477,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juiceword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,58}</string>
                <key>spriteSourceSize</key>
                <string>{176,58}</string>
                <key>textureRect</key>
                <string>{{507,0},{176,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left-Nolight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{725,124}</string>
                <key>spriteSourceSize</key>
                <string>{725,124}</string>
                <key>textureRect</key>
                <string>{{721,212},{725,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left-gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,278}</string>
                <key>spriteSourceSize</key>
                <string>{239,278}</string>
                <key>textureRect</key>
                <string>{{1500,408},{239,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left-lightAn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,106}</string>
                <key>spriteSourceSize</key>
                <string>{728,106}</string>
                <key>textureRect</key>
                <string>{{0,100},{728,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,232}</string>
                <key>spriteSourceSize</key>
                <string>{293,232}</string>
                <key>textureRect</key>
                <string>{{955,408},{293,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,273}</string>
                <key>spriteSourceSize</key>
                <string>{252,273}</string>
                <key>textureRect</key>
                <string>{{1248,408},{252,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>milk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,58}</string>
                <key>spriteSourceSize</key>
                <string>{176,58}</string>
                <key>textureRect</key>
                <string>{{1211,0},{176,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,100}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{1387,0},{103,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcorn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,201}</string>
                <key>spriteSourceSize</key>
                <string>{168,201}</string>
                <key>textureRect</key>
                <string>{{566,408},{168,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcornword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,58}</string>
                <key>spriteSourceSize</key>
                <string>{176,58}</string>
                <key>textureRect</key>
                <string>{{331,0},{176,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>potato-some.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,327}</string>
                <key>spriteSourceSize</key>
                <string>{332,327}</string>
                <key>textureRect</key>
                <string>{{0,686},{332,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right-Nolight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,119}</string>
                <key>spriteSourceSize</key>
                <string>{721,119}</string>
                <key>textureRect</key>
                <string>{{0,212},{721,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right-lightAn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,112}</string>
                <key>spriteSourceSize</key>
                <string>{708,112}</string>
                <key>textureRect</key>
                <string>{{728,100},{708,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightPic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,36}</string>
                <key>spriteSourceSize</key>
                <string>{79,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sausages.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,58}</string>
                <key>spriteSourceSize</key>
                <string>{176,58}</string>
                <key>textureRect</key>
                <string>{{1035,0},{176,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shdow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,335}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{332,686},{335,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopCart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,197}</string>
                <key>spriteSourceSize</key>
                <string>{421,197}</string>
                <key>textureRect</key>
                <string>{{0,408},{421,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skirt@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,58}</string>
                <key>spriteSourceSize</key>
                <string>{176,58}</string>
                <key>textureRect</key>
                <string>{{155,0},{176,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tudou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,46}</string>
                <key>spriteSourceSize</key>
                <string>{76,46}</string>
                <key>textureRect</key>
                <string>{{79,0},{76,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unBtns.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,357}</string>
                <key>spriteSourceSize</key>
                <string>{373,357}</string>
                <key>textureRect</key>
                <string>{{1040,686},{373,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite_2.png</string>
            <key>size</key>
            <string>{2026,1252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a0f67d2b4fc0c934d9d439ce850257b:98e6eaa02e0f62f30a933d4512fb4255:6b2a044016d4dd23fd1aee039726c350$</string>
            <key>textureFileName</key>
            <string>sprite_2.png</string>
        </dict>
    </dict>
</plist>
