<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key> lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,160}</string>
                <key>spriteSourceSize</key>
                <string>{131,160}</string>
                <key>textureRect</key>
                <string>{{989,347},{131,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ceiling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,88}</string>
                <key>spriteSourceSize</key>
                <string>{650,88}</string>
                <key>textureRect</key>
                <string>{{216,0},{650,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,155}</string>
                <key>spriteSourceSize</key>
                <string>{113,155}</string>
                <key>textureRect</key>
                <string>{{876,347},{113,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipsGroup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,154}</string>
                <key>spriteSourceSize</key>
                <string>{214,154}</string>
                <key>textureRect</key>
                <string>{{662,347},{214,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,55}</string>
                <key>spriteSourceSize</key>
                <string>{83,55}</string>
                <key>textureRect</key>
                <string>{{0,0},{83,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eggGroup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,167}</string>
                <key>spriteSourceSize</key>
                <string>{264,167}</string>
                <key>textureRect</key>
                <string>{{1120,347},{264,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,64}</string>
                <key>textureRect</key>
                <string>{{83,0},{133,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hamGroup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,113}</string>
                <key>spriteSourceSize</key>
                <string>{277,113}</string>
                <key>textureRect</key>
                <string>{{709,105},{277,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,150}</string>
                <key>spriteSourceSize</key>
                <string>{73,150}</string>
                <key>textureRect</key>
                <string>{{589,347},{73,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juiceGroup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,228}</string>
                <key>spriteSourceSize</key>
                <string>{246,228}</string>
                <key>textureRect</key>
                <string>{{0,536},{246,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left-Nolight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{725,124}</string>
                <key>spriteSourceSize</key>
                <string>{725,124}</string>
                <key>textureRect</key>
                <string>{{721,222},{725,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,105}</string>
                <key>spriteSourceSize</key>
                <string>{728,105}</string>
                <key>textureRect</key>
                <string>{{866,0},{728,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,491}</string>
                <key>spriteSourceSize</key>
                <string>{281,491}</string>
                <key>textureRect</key>
                <string>{{1525,536},{281,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftWall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{755,528}</string>
                <key>spriteSourceSize</key>
                <string>{755,528}</string>
                <key>textureRect</key>
                <string>{{1044,1027},{755,528}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>milk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,117}</string>
                <key>spriteSourceSize</key>
                <string>{44,117}</string>
                <key>textureRect</key>
                <string>{{1082,105},{44,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>milkGroup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,148}</string>
                <key>spriteSourceSize</key>
                <string>{194,148}</string>
                <key>textureRect</key>
                <string>{{395,347},{194,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,445}</string>
                <key>spriteSourceSize</key>
                <string>{561,445}</string>
                <key>textureRect</key>
                <string>{{964,536},{561,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picBorder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{243,243}</string>
                <key>textureRect</key>
                <string>{{481,536},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcorn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{96,116}</string>
                <key>textureRect</key>
                <string>{{986,105},{96,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcornGroup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,189}</string>
                <key>spriteSourceSize</key>
                <string>{231,189}</string>
                <key>textureRect</key>
                <string>{{1384,347},{231,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right-gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,286}</string>
                <key>spriteSourceSize</key>
                <string>{240,286}</string>
                <key>textureRect</key>
                <string>{{724,536},{240,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{709,112}</string>
                <key>spriteSourceSize</key>
                <string>{709,112}</string>
                <key>textureRect</key>
                <string>{{0,105},{709,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right-noLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,119}</string>
                <key>spriteSourceSize</key>
                <string>{721,119}</string>
                <key>textureRect</key>
                <string>{{0,222},{721,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,491}</string>
                <key>spriteSourceSize</key>
                <string>{281,491}</string>
                <key>textureRect</key>
                <string>{{0,1027},{281,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightWall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{763,517}</string>
                <key>spriteSourceSize</key>
                <string>{763,517}</string>
                <key>textureRect</key>
                <string>{{281,1027},{763,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shdow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{246,536},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small-bell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,129}</string>
                <key>spriteSourceSize</key>
                <string>{395,129}</string>
                <key>textureRect</key>
                <string>{{0,347},{395,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,125}</string>
                <key>spriteSourceSize</key>
                <string>{255,125}</string>
                <key>textureRect</key>
                <string>{{1446,222},{255,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite_1.png</string>
            <key>size</key>
            <string>{1806,1555}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a5635f9e0dbce19d2c3494061c926c0:9f094df59bd395173a11d1971aa57ec8:6948500fa00ab450d1a3fdd7dec331ec$</string>
            <key>textureFileName</key>
            <string>sprite_1.png</string>
        </dict>
    </dict>
</plist>
