<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,217}</string>
                <key>spriteSourceSize</key>
                <string>{233,217}</string>
                <key>textureRect</key>
                <string>{{0,0},{233,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,217}</string>
                <key>spriteSourceSize</key>
                <string>{233,217}</string>
                <key>textureRect</key>
                <string>{{233,0},{233,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duihao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,106}</string>
                <key>spriteSourceSize</key>
                <string>{131,106}</string>
                <key>textureRect</key>
                <string>{{466,0},{131,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatbg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,1536}</string>
                <key>spriteSourceSize</key>
                <string>{2048,1536}</string>
                <key>textureRect</key>
                <string>{{0,217},{2048,1536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pictures.png</string>
            <key>size</key>
            <string>{2048,1753}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a5d62483768893b83de12fd5df1b63b:ff2a30c41265cd121249ebcf2b82b1d2:66b012981391bee0062be48156363f12$</string>
            <key>textureFileName</key>
            <string>pictures.png</string>
        </dict>
    </dict>
</plist>
